{% extends 'base.html.twig' %}

{% block title %}
    Bureau Profiel - Home
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const FORM_DATA = {
            pages: [
                {
                    fields: [
                        {
                            label: 'Voornaam',
                            type: 'text',
                            placeholder: 'Voornaam...',
                            classname: 'register-firstname',
                            required: true,
                            fullwidth: false
                        },
                        {
                            label: 'Achternaam',
                            type: 'text',
                            placeholder: 'Achternaam...',
                            classname: 'register-surname',
                            required: true,
                            fullwidth: false
                        },
                        {
                            label: 'Jouw e-mailadres',
                            type: 'email',
                            placeholder: 'E-mailadres...',
                            classname: 'register-email',
                            required: true,
                            fullwidth: true
                        },
                        {
                            label: 'Geslacht',
                            type: 'choice',
                            classname: 'register-gender register-onechoice',
                            choices: [
                                {
                                    id: 'gender-male',
                                    value: 'male',
                                    name: 'register-gender',
                                    label: 'Man'
                                },
                                {
                                    id: 'gender-female',
                                    value: 'woman',
                                    name: 'register-gender',
                                    label: 'Vrouw'
                                },
                                {
                                    id: 'gender-different',
                                    value: 'different',
                                    name: 'register-gender',
                                    label: 'Anders'
                                },
                            ],
                            required: true,
                            fullwidth: true
                        },
                        {
                            label: 'Geboortedatum',
                            type: 'date',
                            classname: 'register-birthdate',
                            required: true,
                            fullwidth: false
                        },
                        {
                            label: 'Heb je al eerder meegewerkt aan marktonderzoeken bij Bureau Profiel?',
                            type: 'choice',
                            classname: 'register-participated register-onechoice',
                            choices: [
                                {
                                    id: 'participated-yes',
                                    value: 'no',
                                    name: 'register-participated',
                                    label: 'Ja'
                                },
                                {
                                    id: 'participated-no',
                                    value: 'yes',
                                    name: 'register-participated',
                                    label: 'Nee'
                                },
                            ],
                            required: true,
                            fullwidth: true
                        },
                        {
                            label: 'Zo ja, hoevaak',
                            type: 'number',
                            classname: 'register-participationAmount',
                            required: true,
                            fullwidth: false
                        },
                        {
                            label: 'Postcode',
                            type: 'text',
                            classname: 'register-postalcode',
                            placeholder: 'Postcode...',
                            required: true,
                            fullwidth: false
                        },
                        {
                            label: 'Woonplaats',
                            type: 'text',
                            classname: 'register-city',
                            placeholder: 'Woonplaats...',
                            required: true,
                            fullwidth: false
                        },
                    ],
                },
                {% for page in pages %}
                    {
                        fields: [
                        {% for question in page %}
                            {
                                label: '{{ question.question }}',
                                type: '{{ question.inputType }}',
                                classname: 'question-{{ question.id }}',
                                placeholder: '{{ question.question }}...',
                                required: {% if question.required %}true{% else %}false{% endif %},
                                fullwidth: {% if question.fullWidth %}true{% else %}false{% endif %}
                            },
                        {% endfor %}
                        ],
                    },
                {% endfor %}
            ]
        }
    </script>
{% endblock %}

{% block main %}
    <div>
        <!-- <nav class="navbar">
            <div class="logo"><img src="" alt="Logo-image"></div>
            <ul id="primary-menu" class="menu nav-menu">
                <li class="menu-item"><a class="nav__link"  href="#">Respondenten</a></li>
                <li class="menu-item"><a class="nav__link"  href="#">Bedrijven</a></li>
                <li class="menu-item"><a class="nav__link"  href="#">Onderzoek</a></li>
                <li class="menu-item"><a class="nav__link"  href="#">Contact</a></li>
                <button>Inschrijveen</button>
            </ul>
        </nav> -->
        <section class="intro-block">
            <div class="intro-block-text">
                <h2>Zet je <span class="bgline-1">mening</span><br> om in <span class="bgline-2">cash</span></h2>
                <h3>Doe mee aan marktonderzoeken en verdien door je mening te geven</h3>
                <div class="intro-block-points">
                    <p>Vergoeding tot wel €70</p>
                    <p>Deel je mening en aanbeveling</p>
                    <br>
                    <p>Werk samen met grote bedrijven</p>
                    <p>Doe kennis op over van alles</p>
                </div>
                <div class="intro-block-buttons">
                    <button>Respondent worden</button>
                    <a>Voor opdrachtgevers ></a>
                </div>
            </div>
            <div class="intro-block-girl">
                <img src="{{ asset('images/afbeeling-invorm-eerstevouw.png') }}" >
            </div>
        </section>
        
        <section class="how-block">
            <div class="how-block-text">
                <h3 class="blue-grotesk">RESPONDENT WORDEN</h3>
                <h2 class="black-grostesk">Hoe werkt het</h2>
                <p class="black-karla black-karla-bold">Voordat er een nieuw product uitkomt, of voordat er een reclame- of voorlichtingscampagne uitgebracht wordt, 
                    willen de makers hiervan graag weten wat u als consument hiervan vindt. Dit kan bijvoorbeeld een reclame- of 
                    marktonderzoekbureau zijn, of een fabrikant van een bepaald product of soms de overheid. Zij willen uw mening horen 
                    om zo de kans op succes te vergroten.
                </p>
                <p class="black-karla" id="spacing">
                    Onze opdrachtgever houdt onder de doelgroep een kwalitatief marktonderzoek. Dit gebeurt over het algemeen bij een 
                    marktonderzoekbureau in Amsterdam. Zo’n onderzoek gebeurt in de vorm van een interview of een groepsdiscussie en de 
                    duur kan variëren van 15 minuten tot maximaal 3 uur.
                </p>
                    <a class="orange-grostesk" >Meer over respondenten ></a>
            </div>
            <div class="how-block-img">
                <!-- <img src="{{ asset('images/afbeelding-hoewerkthet.png') }}" > -->
            </div>
        </section> 

        <section class="research-block">
            <div class="research-block-container">
                <div class="research-block-text">
                    <h2>Marktonderzoek</h2>
                    <p>Wij hebben samenwerkingen met verschillende soorten bedrijven die Onderzoeken doen met respondenten. Bekijk hier 
                        marktonderzoeken waarbij onze respondenten zijn gebruikt.</p>
                </div>
            </div>
            <!-- <div class="center">
                <a class="research-block-more orange-grostesk">Meer marktonderzoeken ></a>
            </div> -->
        </section>

        <section class="about-block">
            <div class="about-block-text">
                <h3 class="orange-title">WIE ZIJN WIJ</h3>
                <h2 class="black-grostesk">Over <span class="bgline-3">Bureau Profiel</span></h2>
                <p class="black-karla black-karla-bold">Wij houden ons elke dag bezig met werving en selectie van respondenten, zowel consumenten als Business-to-Business. 
                    Zo hebben we een database met respondenten die wij kunnen inzetten bij een marktonderzoek.</p>
                <p class="black-karla spacing">
                Wij zijn altijd op zoek naar mensen, die hun mening willen geven over allerlei nieuwe producten, diensten of reclamecampagnes.
                </p>
                <p class="black-karla">
                Voor marktonderzoek is het belangrijk dat allemaal verschillende mensen meedoen:
                </p>
                <ul>
                    <li>kinderen/jongeren/volwassenen/senioren</li>
                    <li>mannen/vrouwen</li>
                    <li>verschillende culturele achtergronden</li>
                    <li>hoog/laag opgeleiden</li>
                    <li>werkenden/niet werkenden</li>
                </ul>
            </div>
            <div class="about-block-img">
                <!-- <img src="{{ asset('images/overbureauprofiel.jpg') }}"> -->
            </div>
        </section>

        <section class="review-block">
            mooie carousel van alle reviews
        </section>

        <section class="company-block">
            <div class="company-block-text">
                <h3 class="orange-title">RESPONDENTEN NODIG?</h3>
                <h2 class="white-grostesk">Voor de opdrachtgever</h2>
                <p class="white-karla white-karla-bold">Ons promotieteam rekruteerd continu verse respondenten middels veldwerk. De respondenten zijn 
                    zodoende persoonlijk goed geïnformeerd en wij kunnen hen kwalificeren als zeer betrouwbaar.</p>
                <p class="white-karla spacing">Wij leveren respondenten uit Amsterdam en directe omgeving voor allerlei kwalitatieve 
                onderzoeken. Het aanbod is zeer breed. Wij hebben alle doelgroepen in een eigen database o.a. 
                volwassenen, jongeren, kinderen, westerse Nederlanders, niet-westerse Nederlanders, hoog en 
                lager opgeleiden, zelfstandig ondernemers enzovoort. Tevens kunnen wij ook selecties uitvoeren 
                middels aangeleverde lijsten. </p>
                    <p class="white-karla">Wij doen met regelmaat diverse soorten onderzoeken zoals:</p>
                    <ul>
                    <li>Single interview</li>
                    <li>Groepsdiscussies</li>
                    <li>In home visits</li>
                    <li>Go shoppings</li>
                    <li>Multiculturele groepen</li>
                </ul>
                <a class="research-block-more orange-grostesk">Meer voor opdrachtgevers ></a>
            </div>
            <div class="company-block-img">
                
            </div>
        </section>

        <div class="register">
            <div class="register-form">
                <div class="register-title">
                    <h3>Vul hier je gegevens in</h3>
                    <p>En start met verdienen</p>
                </div>
                <div class="register-progress">

                </div>

                <div class="register-pages">

                </div>

                <button class="register-submit">Volgende stap</button>
            </div>

            <script src="{{ asset('js/register.js') }}"></script>
        </div>

        <footer>
            <div class="footer-container">
                <div class="footer-container-top">
                    <div class="footer-container-top-wrapper">
                        <div class="footer-page">
                            <h5 class="orange-title">Pagina's</h5>
                            <a class="black-karla black-karla-light" href="#">Home</a>
                            <a class="black-karla black-karla-light" href="#">Respondent</a>
                            <a class="black-karla black-karla-light" href="#">Opdrachtgever</a>
                            <a class="black-karla black-karla-light" href="#">Contact</a>
                        </div>
                        <div class="footer-moa">
                            <h5 class="orange-title">Lid van</h5>
                            <img src="{{ asset('images/MOA-BureauProfiel.svg') }}" >
                        </div>
                        <div class="footer-contact">
                            <h5 class="orange-title">Contact</h5>
                            <p class="footer-contact-nmmr">+31 (0)20-6173578</p>
                            <p class="footer-contact-mail">Info@bureauprofiel.com</p>
                            <p class="footer-contact-open">Bereikbaar van maandag tot donderdag van 09:00 tot 17:00</p>
                        </div>
                    </div>
                    <div class="footer-logo">
                        <div class="footer-logo-inner">
                            <img src="{{ asset('images/logo-tijdelijk.svg') }}" >
                            <p class="black-karla">KVK: 33302469</p>
                            <p class="black-karla">BTW: 0000 00000 000</p>
                        </div>                    
                    </div>
                </div>
                <div class="footer-container-bot">
                    <a class="black-karla black-karla-light" href="#">© Bureau Profiel</a>
                    <a class="black-karla black-karla-light" href="#">Cookies</a>
                    <a class="black-karla black-karla-light" href="#">Algemene voorwaarden</a>
                    <a class="black-karla black-karla-light" href="#">Privacyverklaring</a>
                    <a class="black-karla black-karla-light" href="#">Disclaimer</a>
                    <a class="black-karla black-karla-light" href="#">Uitschrijven</a>
                </div>
                
            </div>

        </footer>

    </div>
{% endblock %}
