{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/respondent.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Respondenten - Bureau Profiel
{% endblock %}

{% block main %}
    {{ parent() }}

    <div class="respondent">
        <section class="respondent-how-block split">
            <div class="respondent-how-block-text">
                <div class="content-padding">
                    <h3 class="blue-grotesk">RESPONDENT ZIJN</h3>
                    <h2 class="black-grostesk bgline-pink">Hoe werkt dat...</h2>
                    <p class="black-karla black-karla-bold">
                        Onze opdrachtgever houdt onder de doelgroep een kwalitatief marktonderzoek.
                        Dit gebeurt over het algemeen bij een marktonderzoekbureau in Amsterdam. Zo’n onderzoek
                        gebeurt in de vorm van een interview of een groepsdiscussie en de duur kan variëren van
                        15 minuten tot maximaal 3 uur.</p>
                    <p class="black-karla" id="spacing">
                        Wij hebben diverse doelgroepen in ons bestand en als er een onderzoek is waar uw
                        profiel bij past dan bellen of mailen wij u voor een afspraak. U bent uiteraard niets verplicht.
                        Als het u niet uitkomt, dan proberen wij het gewoon een volgende keer opnieuw. Kunt u wel,
                        dan wordt u uitgenodigd voor een gesprek bij onze opdrachtgever te Amsterdam.
                        Dit kan zowel overdag als ’s avonds zijn. Na het maken van de afspraak rekenen wij natuurlijk wel op u!
                    </p>
                </div>
            </div>
            <div class="respondent-how-block-img">
                <img src="{{ asset('images/respondentzijn-bureauprofiel-respondenten.jpg') }}" >
            </div>
        </section>

        <section class="respondent-why-block split split-reverse">
            <div class="respondent-why-block-img">
                <img src="{{ asset('images/marktonderzoeken-bureauprofiel-respondenten.jpg') }}" >
            </div>
            <div class="respondent-why-block-text">
                <div class="content-padding">
                    <h2 class="white-grostesk">Waarom meedoen aan marktonderzoeken</h2>
                    <p class="white-karla white-karla-bold">
                        Deelname aan onze onderzoeken is ontzettend leuk en interessant,
                        uw mening wordt bijzonder op prijs gesteld en u krijgt er altijd een ruime vergoeding voor!
                    </p>
                    <p class="white-karla">
                        Voordat er een nieuw product uitkomt, of voordat er een reclame- of voorlichtingscampagne uitgebracht wordt,
                        willen de makers hiervan graag weten wat u als consument hiervan vindt. Dit kan bijvoorbeeld een reclame- of
                        marktonderzoekbureau zijn, of een fabrikant van een bepaald product of soms de overheid. Zij willen uw mening horen
                        om zo de kans op succes te vergroten.
                    </p>
                </div>
            </div>
        </section>

        <section class="respondent-cash-block split">
            <div class="respondent-cash-block-text">
                <div class="content-padding">
                    <h3 class="orange-grostesk">CASHEN</h3>
                    <h2 class="black-grostesk">Vergoedingen</h2>
                    <p class="black-karla black-karla-bold">
                        U ontvangt ten alle tijden een contante onkostenvergoeding van
                        <b>€20 tot €75</b> per gesprek,
                        afhankelijk van het onderwerp en de duur van het gesprek. Bij hele bijzondere onderzoeken
                        kan de vergoeding soms nog hoger uitvallen. Direct na afloop van het gesprek ontvangt u de
                        afgesproken vergoeding. Ook zijn alle consumpties en soms broodjes inbegrepen.
                    </p>
                </div>
            </div>
            <div class="respondent-cash-block-img">
                <img class="mobile" src="{{ asset('images/vergoeding-mobile-bureauprofiel-respondenten.png') }}" >
                <img class="desktop" src="{{ asset('images/vergoedingen-bureauprofiel-respondenten.png') }}" >
            </div>
        </section>

        <section class="respondent-company-block split split-reverse">
            <div class="respondent-company-block-img">
                <img src="{{ asset('images/bedrijfslogos-bureauprofiel.png') }}" >
            </div>
            <div class="respondent-company-block-text">
                <div class="content-padding">
                    <h2 class="black-grostesk">Deze <span class="bgline-blue">bedrijven</span> hebben eerder meegedaan</h2>
                    <p class="black-karla black-karla-bold">
                        Deze bedrijven, en nog veel meer, hebben via Bureau Profiel, met de respondenten van Bureau Profiel,
                        marktonderzoeken uitgevoerd. Wil jij ook meewerken met onderzoeken van bedrijven als deze? Schrijf je dan in!
                    </p>
                </div>
            </div>
        </section>

        <section class="respondent-trust-block split">
            <div class="respondent-trust-block-text">
                <div class="content-padding">
                    <h3 class="blue-grotesk">VERTROUWD</h3>
                    <h2 class="black-grostesk">Jouw privacy staat op nummer 1</h2>
                    <p class="black-karla black-karla-bold">
                        Voor marktonderzoekers is het vertrouwen van consumenten in marktonderzoek van groot belang.
                        Zij gaan zorgvuldig om met uw mening. Alle verstrekte informatie, persoonlijke gegevens en
                        meningen, worden vertrouwelijk verwerkt en ontdaan van mogelijkheden tot identificatie.
                    </p>
                    <p class="black-karla" id="spacing">
                        Meewerken aan een onderzoek is dus strikt anoniem! Wij zijn gehouden aan de Wet op de
                        Persoonsregistratie alsmede aan de verschillende gedragsregels en codes die gelden binnen
                        de marktonderzoekbranche, zoals het niet doorgeven van uw gegevens aan derden. Soms wordt
                        tijdens het onderzoek een opname gemaakt die uitsluitend voor interne doeleinde gebruikt wordt
                        (bijvoorbeeld voor het maken van een verslag voor de opdrachtgever) en na afloop van het onderzoek
                        wordt deze opname altijd vernietigd.
                    </p>
                </div>
            </div>
            <div class="respondent-trust-block-img">
                <img src="{{ asset('images/privacy-bureauprofiel-respondenten.jpg') }}" >
            </div>
        </section>

        <section class="respondent-cta-block">
            <div class="content-padding">
                <div class="respondent-cta-block-text">
                    <h2 class="white-grostesk" style="font-size: 2rem;">Wil jij ook respondent worden bij Bureau Profiel?</h2>
                    <button class="register-button">Inschrijven</button>
                </div>
            </div>
        </section>
    </div>
{% endblock %}