<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            <link href="{{ asset('css/base.css') }}" rel="stylesheet">
            <link href="{{ asset('css/register.css') }}" rel="stylesheet">
            <link href="{{ asset('css/footer.css') }}" rel="stylesheet">
            <link href="{{ asset('css/research-home.css') }}" rel="stylesheet">
            <link href="{{ asset('css/intro-home.css') }}" rel="stylesheet">
            <link href="{{ asset('css/how-home.css') }}" rel="stylesheet">
            <link href="{{ asset('css/about-home.css') }}" rel="stylesheet">
            <link href="{{ asset('css/nav.css') }}" rel="stylesheet">
            <link href="{{ asset('css/contact.css') }}" rel="stylesheet">
            <link href="{{ asset('css/researches.css') }}" rel="stylesheet">
            <link href="{{ asset('css/company-home.css') }}" rel="stylesheet">

            <link href="{{ asset('libraries/slick/slick.css') }}" rel="stylesheet">

            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>

            <script src="{{ asset('libraries/slick/slick.min.js') }}"></script>

            <script src="{{ asset('js/bootstrap.min.js') }}"></script>

            <script>
                const FORM_DATA = {
                    pages: [
                        {
                            fields: [
                                {
                                    label: 'Voornaam',
                                    type: 'text',
                                    placeholder: 'Voornaam...',
                                    classname: 'register-firstname',
                                    required: true,
                                    fullwidth: false
                                },
                                {
                                    label: 'Achternaam',
                                    type: 'text',
                                    placeholder: 'Achternaam...',
                                    classname: 'register-surname',
                                    required: true,
                                    fullwidth: false
                                },
                                {
                                    label: 'Jouw e-mailadres',
                                    type: 'email',
                                    placeholder: 'E-mailadres...',
                                    classname: 'register-email',
                                    required: true,
                                    fullwidth: true
                                },
                                {
                                    label: 'Geslacht',
                                    type: 'choice',
                                    classname: 'register-gender register-onechoice',
                                    choices: [
                                        {
                                            id: 'gender-male',
                                            value: 'male',
                                            name: 'register-gender',
                                            label: 'Man'
                                        },
                                        {
                                            id: 'gender-female',
                                            value: 'woman',
                                            name: 'register-gender',
                                            label: 'Vrouw'
                                        },
                                        {
                                            id: 'gender-different',
                                            value: 'different',
                                            name: 'register-gender',
                                            label: 'Anders'
                                        },
                                    ],
                                    required: true,
                                    fullwidth: true
                                },
                                {
                                    label: 'Geboortedatum',
                                    type: 'date',
                                    classname: 'register-birthdate',
                                    required: true,
                                    fullwidth: false
                                },
                                {
                                    label: 'Heb je al eerder meegewerkt aan marktonderzoeken bij Bureau Profiel?',
                                    type: 'choice',
                                    classname: 'register-participated register-onechoice',
                                    choices: [
                                        {
                                            id: 'participated-yes',
                                            value: 'no',
                                            name: 'register-participated',
                                            label: 'Ja'
                                        },
                                        {
                                            id: 'participated-no',
                                            value: 'yes',
                                            name: 'register-participated',
                                            label: 'Nee'
                                        },
                                    ],
                                    required: true,
                                    fullwidth: true
                                },
                                {
                                    label: 'Zo ja, hoevaak',
                                    type: 'number',
                                    classname: 'register-participationAmount',
                                    required: true,
                                    fullwidth: false
                                },
                                {
                                    label: 'Postcode',
                                    type: 'text',
                                    classname: 'register-postalcode',
                                    placeholder: 'Postcode...',
                                    required: true,
                                    fullwidth: false
                                },
                                {
                                    label: 'Woonplaats',
                                    type: 'text',
                                    classname: 'register-city',
                                    placeholder: 'Woonplaats...',
                                    required: true,
                                    fullwidth: false
                                },
                            ],
                        },
                        {% for page in pages %}
                        {
                            fields: [
                                {% for question in page %}
                                {
                                    label: '{{ question.question }}',
                                    type: '{{ question.inputType }}',
                                    classname: 'question-{{ question.id }}',
                                    placeholder: '{{ question.question }}...',
                                    required: {% if question.required %}true{% else %}false{% endif %},
                                    fullwidth: {% if question.fullWidth %}true{% else %}false{% endif %}
                                },
                                {% endfor %}
                            ],
                        },
                        {% endfor %}
                    ]
                }
            </script>
        {% endblock %}
    </head>
    <body>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="admin-notice">
                <div>
                    <p>{{ email }}</p>
                    <button class="admin-notice-toggle"></button>
                </div>
                <a href="{{ path('app_admin') }}">Naar dashboard</a>
            </div>

            <script src="{{ asset('js/adminnotice.js') }}"></script>
        {% endif %}

        <nav>
            <div class="nav-logo"><img src="{{ asset('images/logo-bureauprofiel.svg') }}"></div>

            <ul class="nav-pages">
                <li class="nav-page {% if app.request.get('_route') == 'app_home' %}nav-page-active{% endif %}"><a href="{{ path('app_home') }}">Home</a></li>
                <li class="nav-page {% if app.request.get('_route') == 'app_respondent' %}nav-page-active{% endif %}"><a href="{{ path('app_respondent') }}">Respondenten</a></li>
                <li class="nav-page {% if app.request.get('_route') == 'app_companies' %}nav-page-active{% endif %}"><a href="{{ path('app_companies') }}">Opdrachtgever</a></li>
                <li class="nav-page {% if app.request.get('_route') == 'app_researches' %}nav-page-active{% endif %}"><a href="{{ path('app_researches') }}">Onderzoeken</a></li>
                <li class="nav-page {% if app.request.get('_route') == 'app_contact' %}nav-page-active{% endif %}"><a href="{{ path('app_contact') }}">Contact</a></li>
            </ul>

            <div class="nav-cta"><button class="nav-register register-button">Inschrijven</button></div>

            <div class="nav-mobile-open"><svg viewBox="0 0 448 512"><path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"/></svg></div>
        </nav>

        <div class="nav-mobile">
            <button class="nav-mobile-close"><svg viewBox="0 0 512 512"><path d="M175 175C184.4 165.7 199.6 165.7 208.1 175L255.1 222.1L303 175C312.4 165.7 327.6 165.7 336.1 175C346.3 184.4 346.3 199.6 336.1 208.1L289.9 255.1L336.1 303C346.3 312.4 346.3 327.6 336.1 336.1C327.6 346.3 312.4 346.3 303 336.1L255.1 289.9L208.1 336.1C199.6 346.3 184.4 346.3 175 336.1C165.7 327.6 165.7 312.4 175 303L222.1 255.1L175 208.1C165.7 199.6 165.7 184.4 175 175V175zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"/></svg></button>

            <ul class="nav-mobile-pages">
                <li class="nav-mobile-page {% if app.request.get('_route') == 'app_home' %}nav-mobile-page-active{% endif %}"><a href="{{ path('app_home') }}">Home</a></li>
                <li class="nav-mobile-page {% if app.request.get('_route') == 'app_respondent' %}nav-mobile-page-active{% endif %}"><a href="{{ path('app_respondent') }}">Respondenten</a></li>
                <li class="nav-mobile-page {% if app.request.get('_route') == 'app_companies' %}nav-mobile-page-active{% endif %}"><a href="{{ path('app_companies') }}">Opdrachtgever</a></li>
                <li class="nav-mobile-page {% if app.request.get('_route') == 'app_researches' %}nav-mobile-page-active{% endif %}"><a href="{{ path('app_researches') }}">Onderzoeken</a></li>
                <li class="nav-mobile-page {% if app.request.get('_route') == 'app_contact' %}nav-mobile-page-active{% endif %}"><a href="{{ path('app_contact') }}">Contact</a></li>
            </ul>

            <img class="nav-mobile-circle" src="{{ asset('images/target-marktonderzoeken.svg') }}">
        </div>

        {% block main %}

            <script>
                const navMobileOpen = document.querySelector('.nav-mobile-open');
                const navMobileClose = document.querySelector('.nav-mobile-close');
                const mobileNav = document.querySelector('.nav-mobile');

                navMobileOpen.addEventListener('click', () => mobileNav.style.transform = 'translateY(-40px) rotate(-3deg)');
                navMobileClose.addEventListener('click', () => mobileNav.style.transform = 'translateY(calc(-100% - 150px)) rotate(-3deg)');
            </script>

        {% endblock %}

        <footer>
            <div class="footer-container">
                <div class="footer-container-top">
                    <div class="footer-container-top-wrapper">
                        <div class="footer-page">
                            <h5 class="orange-title">Pagina's</h5>
                            <a class="black-karla black-karla-light" href="{{ path('app_home') }}">Home</a>
                            <a class="black-karla black-karla-light" href="{{ path('app_respondent') }}">Respondent</a>
                            <a class="black-karla black-karla-light" href="{{ path('app_companies') }}">Opdrachtgever</a>
                            <a class="black-karla black-karla-light" href="{{ path('app_researches') }}">Onderzoeken</a>
                            <a class="black-karla black-karla-light" href="{{ path('app_contact') }}">Contact</a>
                        </div>
                        <div class="footer-moa">
                            <h5 class="orange-title">Lid van</h5>
                            <img src="{{ asset('images/moa.svg') }}" >
                        </div>
                        <div class="footer-contact">
                            <h5 class="orange-title">Contact</h5>
                            <p class="footer-contact-nmmr">+31 (0)20-6173578</p>
                            <p class="footer-contact-mail">Info@bureauprofiel.com</p>
                            <p class="footer-contact-open">Bereikbaar van maandag tot donderdag van 09:00 tot 17:00</p>
                        </div>
                    </div>
                    <div class="footer-logo">
                        <div class="footer-logo-inner">
                            <img src="{{ asset('images/logo.svg') }}" >
                            <p class="black-karla">KVK: 33302469</p>
                            <p class="black-karla">BTW: 0000 00000 000</p>
                        </div>
                    </div>
                </div>
                <div class="footer-container-bot">
                    <a class="black-karla black-karla-light">© Bureau Profiel</a>
                    <a class="black-karla black-karla-light" href="#">Cookies</a>
                    <a class="black-karla black-karla-light" href="#">Algemene voorwaarden</a>
                    <a class="black-karla black-karla-light" href="#">Privacyverklaring</a>
                    <a class="black-karla black-karla-light" href="#">Disclaimer</a>
                    <a class="black-karla black-karla-light" href="#">Uitschrijven</a>
                </div>

            </div>

        </footer>

        <div class="register">
            <div class="register-form">
                <button class="register-close"><svg viewBox="0 0 320 512"><path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/></svg></button>

                <div class="register-title">
                    <h3>Vul hier je gegevens in</h3>
                    <p>En start met verdienen</p>
                </div>
                <div class="register-progress">

                </div>

                <div class="register-pages">

                </div>

                <button class="register-submit">Volgende stap</button>
            </div>

            <script src="{{ asset('js/register.js') }}"></script>
        </div>
    </body>
</html>
